<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApie4zHaoN1jkgdEQh4xq5WAYIRohyjMM</string>
	<key>GCM_SENDER_ID</key>
	<string>756523290246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicineApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>financeapp-5ce80</string>
	<key>STORAGE_BUCKET</key>
	<string>financeapp-5ce80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756523290246:ios:719f84e8319762742c0b07</string>
</dict>
</plist>